<ion-buttons end>
  <!-- Commented voice function -->
  <button ion-button icon-only item-end (click)="change_volume()">
    <ion-icon *ngIf="audio.active_audio" name="megaphone"></ion-icon>
    <ion-icon *ngIf="!audio.active_audio" name="volume-off"></ion-icon>
  </button>
  <button ion-button icon-only item-end (click)="change_escuchando()">
    <ion-icon *ngIf="voice.active_voice" name="mic"></ion-icon>
    <ion-icon *ngIf="!voice.active_voice" name="mic-off"></ion-icon>
  </button>
    
    <button ion-button icon-only item-end (click)="change_hide_scan_form()">
    <ion-icon name="barcode"></ion-icon>
  </button>
</ion-buttons>