<ion-grid>
  
  <ion-row>
    <ion-col size="3">
        <div><strong>Referencia</strong></div>
    </ion-col>
    
    <ion-col size="7">
        <div><strong></strong></div>
    </ion-col>

    <!--ion-col size="1">
      <div><strong>Precio de venta</strong></div>
    </ion-col>

    <ion-col size="1">
      <div><strong>Último precio de compra</strong></div>
    </ion-col-->

    <ion-col size="2">
      <div><strong>Stock</strong></div>
    </ion-col>

    <!--ion-col size="1">
      <div><strong>Pronóstico</strong></div>
    </ion-col>

    <ion-col size="1">
      <div><strong>Unidad</strong></div>
    </ion-col>

    <ion-col size="2">
      <div><strong>Código</strong></div>
    </ion-col-->
  </ion-row>

  <ion-row *ngFor="let product of products" (click)="open_link(product.id)" >
    <ion-col size="3">
      <div style='font-size: small'>{{product.default_code}}</div>
    </ion-col>
      <ion-col size="7">
      <div style='font-size: small'>{{product.name}}</div>
    </ion-col>

    <ion-col size-xs="6" size-sm="2" size-md="2">
      <div><strong class="ion-hide-sm-up">Referencia: </strong>{{product.default_code}}</div>
    </ion-col>
  
    <!--ion-col size="1">
      <div>{{product.lst_price}}</div>
    </ion-col>
  
    <ion-col size="1">
      <div>{{product.last_purchase_price}}</div>
    </ion-col-->
  
    <ion-col size="2">
      <div [ngClass]="{'danger': product.qty_available &lt;= 0}" style='font-size: small' >{{product.qty_available}}</div>
    </ion-col>
  
    <!--ion-col size="1">
      <div [ngClass]="{'danger': product.virtual_available &lt;= 0}">{{product.virtual_available}}</div>
    </ion-col>
  
    <ion-col size-xs="3" size-sm="1" size-md="1">
      <div><strong class="ion-hide-sm-up">Unidad: </strong>{{product.uom_id[1]}}</div>
    </ion-col>
  
    <ion-col size="2">
      <div>{{product.barcode}}</div>
    </ion-col-->
  </ion-row>
</ion-grid>