div {
    &.danger {
        color: var(--ion-color-danger);
    }
    &.product_link {
        color: blue;
        text-decoration: underline;
        text-decoration-color: blue;
        cursor: pointer;
    }
}

/* Medias */
@media screen and (max-width: 576px) {
    ion-grid > ion-row:first-child {
        display: none;
    }
    ion-grid > ion-row {
        border: 1px black solid;
    }
}