<ion-card  color="light" *ngFor="let product of products">
  <ion-card-header >
    <ion-card-title  class="sub-info">WH CODE: {{product.wh_code}}</ion-card-title>
    <!--ion-card-subtitle class="sub-info">{{product.wh_code}}</ion-card-subtitle-->
  </ion-card-header>
  <ion-card-content style="padding: 5 5 10 10 px" (click)="OpenStock(product.id)">
    <span style="font-size: 0.8em">
      {{product.display_name}}
    </span>
    <ion-item style="--min-height: 25px; margin-bottom:5px" color="light" lines="none"> 
      <span class="info-span" slot="start" >
        Stock: {{product.qty_available}} 
        <span *ngIf="product.virtual_available !== product.qty_available" >({{product.virtual_available}})</span>
      </span>
      <span class="info-span" slot="end">
        {{product.list_price}} €
      </span>
    </ion-item>
  </ion-card-content>
</ion-card>


<!--ion-list>
  <ion-item *ngFor="let product of products" (click)="open_link(location['id'])">
    <ion-icon slot="end" name="logo-ionic"></ion-icon>
    <ion-label>{{product.name}}</ion-label>
  </ion-item>
</ion-list>



<ion-grid>
  <ion-row class="ion-align-items-center">
    <ion-col size="7">
        <div><strong>Nombre</strong></div>
    </ion-col>
    
    <ion-col size="2">
        <div><strong>Código</strong></div>
    </ion-col>

    <ion-col size="1">
      <div><strong>Disponible</strong></div>
    </ion-col>
    
    <ion-col size="1">
      <div><strong>Previsto</strong></div>
    </ion-col>
    <ion-col size="1">
      <div><strong>Precio de venta</strong></div>
    </ion-col>
  </ion-row>

  <ion-row *ngFor="let product of products">
      <ion-col size-xs="12" size-sm="7" size-md="7">
          <div class="product_link" (click)="open_link(product.id)">{{product['apk_name']}}</div>
      </ion-col>
      
      <ion-col size-xs="6" size-sm="2" size-md="2">
          <div><strong class="ion-hide-sm-up">Código: </strong>{{product['default_code']}}</div>
      </ion-col>
    
      <ion-col size-xs="6" size-sm="1" size-md="1">
        <div [ngClass]="{'danger': product.qty_available &lt;= 0}">
          <strong class="ion-hide-sm-up">Disponible: </strong>{{product.qty_available}}
        </div>
      </ion-col>
      
      <ion-col size-xs="6" size-sm="1" size-md="1">
        <div [ngClass]="{'danger': product.virtual_available &lt;= 0}">
          <strong class="ion-hide-sm-up">Previsto: </strong>{{product.virtual_available}}
        </div>
      </ion-col>
    
      <ion-col size-xs="6" size-sm="1" size-md="1">
          <div>
            <strong class="ion-hide-sm-up">Precio de venta</strong>{{product.list_price}}€
          </div>
      </ion-col>
    </ion-row>
</ion-grid-->