<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <app-scanner-header [disabled_reader]="true" slot="end"></app-scanner-header>
    <ion-title>Detalles del producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-product-info [product]="product_data"></app-product-info>

  <app-product-quant-list [quants]="quants"></app-product-quant-list>
  
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Cargando más localizaciones...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>