<ion-header>
  <ion-toolbar class="cmnt-front">
    <ion-buttons slot="start">
      <ion-menu-button  class="cmnt-front"></ion-menu-button>
    </ion-buttons>
    <app-scanner-header class="cmnt-back" slot="end">
    </app-scanner-header>
    <ion-title class="cmnt-button" 
      style="padding-inline-end: 0px; padding-inline-start: 0px;">{{data && data['picking_type_id']['name']}}</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="data">
  <ion-card >
    <ion-card-header>
      <ion-row>
         <ion-col class="product-link" (click)="Navigate(0)">Anterior
        </ion-col>
        
        <!-- <ion-col *ngIf="data.ready_to_validate" class="link" (click)="button_validate(data.picking_id.id)">Validar
        </ion-col> -->
        <ion-col class="ion-text-center">
          <span *ngIf="data && data.active_location_id">{{data.active_location_id.name}}</span>
        </ion-col>
        <ion-col class="product-link ion-text-right" (click)="Navigate(1)">Siguiente
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="8">
          <ion-card-title >{{data.apk_name}}</ion-card-title>
          <ion-card-subtitle class="ion-text-right {{'state_'+ data.state.value}}" >
              <ion-badge style="margin-right: 15px" class="ion-text-left {{'back_state_'+ data.state.value}}"># {{ data['move_line_count']}} </ion-badge>
               <ion-badge class="ion-text-right {{'back_state_'+ data.state.value}}">{{data.state.name}}</ion-badge>
          </ion-card-subtitle>
        </ion-col>
        <!-- BOTONES ALBARAN -->
        <ion-col size="4" style="text-align-last: end">
          <ion-button class="em3" (click)="presentActionSheet()">
          <ion-icon slot="icon-only" name="apps-outline"></ion-icon>
          </ion-button>

          <ion-button class="em3" (click)="NavigatePickingList()">
          <ion-icon slot="icon-only" name="arrow-undo-outline"></ion-icon>
          </ion-button>

          <!--ion-button size="small" (click)="ValidatePick()">
            <ion-icon slot="icon-only" name="arrow-undo-outline"></ion-icon>
          </ion-button-->
        </ion-col>
      </ion-row>
    </ion-card-header>
    <ion-card-content>
      <div>
        <span *ngIf="data['scheduled_date']"><strong>Fecha: </strong></span>
        <span *ngIf="data['scheduled_date']">{{data.scheduled_date}}</span>
        <span *ngIf="data['priority']" style="margin-left: 10px"><strong>{{data.priority['name'] + " "}}</strong></span>
        <span *ngIf="data.sale_id" style="margin-left: 10px" class="product-link" (click) = "OpenModal('sale.order', data.sale_id.id)"><strong>{{data.sale_id.name}}</strong></span>
      </div>
      <div>
        De <span class="product-link" *ngIf="data['location_id']" color="primary" (click)="open_link(data.location_id['id'])">{{data.location_id['name']}} </span> para
        <span class="product-link" *ngIf="data['location_dest_id']" color="primary" (click)="open_link(data.location_dest_id['id'])">{{data.location_dest_id['name']}} </span>
        <!--span *ngIf="data['location_id']" class="location" (click)="open_link(data.location_id['id'])"> De {{data.location_id['name']}}</span>
        <span *ngIf="data['location_dest_id']" class="location" (click)="open_link(data.location_dest_id['id'])">Para {{data.location_dest_id['name']}}</span-->
      </div>
      <div *ngIf="data['note']">
        {{data.note}}
      </div>
    </ion-card-content>

  </ion-card>
  <div>
    <ion-card *ngIf="data['move_lines']">
      <ion-card-header>
        <!--ion-row>
          <ion-col>
            <ion-card-title>Movimientos: <span>{{ data['move_line_count']}}</span> </ion-card-title>
          </ion-col>
        </ion-row-->
      </ion-card-header>
      <ion-card-content *ngIf="data['move_lines']">
        <app-move-line-list 
          [scanner_reading]="scanner_reading" 
          [code]="picking_code" 
          [move_lines]="data['move_lines']">
        </app-move-line-list>
      </ion-card-content>
    </ion-card>

  </div>
</ion-content>

<app-scanner-footer (scanner_reading_changed)="onReadingEmitted($event)" [scanner_reading]="scanner_reading"></app-scanner-footer>