<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <app-scanner-header slot="end" (show_scan_form_changed)="onShowEmitted($event)" [show_scan_form]=show_scan_form></app-scanner-header>
    <ion-title>Detalles de la operación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-picking-info [scanner_reading]="scanner_reading"></app-picking-info>
</ion-content>

<app-scanner-footer (scanner_reading_changed)="onReadingEmitted($event)" [show_scan_form]=show_scan_form [scanner_reading]="scanner_reading"></app-scanner-footer>