<ion-header>
  <ion-toolbar>
    <ion-title>Listado de productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-content>
    <ion-row>
      <ion-col col-7>
          <div><strong>Nombre</strong></div>
      </ion-col>
      
      <ion-col col-2>
          <div><strong>Código</strong></div>
      </ion-col>
  
      <ion-col col-1>
        <div><strong>Disponible</strong></div>
      </ion-col>
      
      <ion-col col-1>
        <div><strong>Previsto</strong></div>
      </ion-col>
      <ion-col col-1>
        <div><strong>Precio de venta</strong></div>
      </ion-col>
    </ion-row>
    <app-product-list-info *ngFor="let product of product_list" [product]="product"></app-product-list-info>
  </ion-card-content>
</ion-content>
