<ion-header>
  <ion-toolbar class="cmnt-front">
    <ion-buttons slot="start">
      <ion-menu-button class="cmnt-front"></ion-menu-button>
    </ion-buttons>
    <app-scanner-header slot="end" class="cmnt-back"></app-scanner-header>
    <ion-title class="cmnt-button">Artículos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-content>
    <ion-row>
      <ion-toolbar>
        <ion-searchbar type="text" (ionInput)="get_search_results($event)" autocomplete="on" showCancelButton="always"></ion-searchbar>
      </ion-toolbar>
    </ion-row>

    <app-product-list-info [products]="product_list"></app-product-list-info>
    
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Cargando más productos...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-card-content>
</ion-content>

<app-scanner-footer (scanner_reading_changed)="onReadingEmitted($event)" [scanner_reading]="scanner_reading"></app-scanner-footer>