<ion-header>
  <ion-toolbar class="cmnt-front">
    <ion-buttons slot="start" >
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Listado de Albaranes</ion-title>
      <ion-buttons slot="end" class="cmnt-front">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-row>
        <ion-toolbar>
          <ion-searchbar type="text" (ionInput)="get_search_results($event)" autocomplete="on" showCancelButton="always"></ion-searchbar>
        </ion-toolbar>


      </ion-row>
      <ion-row>
      <ion-col class="action-button"><ion-button (click)="Navigate('stock-picking-type-list')"><ion-icon class="primary" name="arrow-undo-circle-outline" ></ion-icon></ion-button></ion-col>

      <ion-col>
          
      </ion-col>
      <ion-col *ngIf="States" size=3>
        <ion-select (ionChange)="ChangeStateFilter()" [(ngModel)]="StateValue" interface="popover" okText="Aplicar" cancelText="Cancelar">
          <ion-select-option *ngFor="let state of States" value='{{state.value}}'>{{state.name}}</ion-select-option>
        </ion-select>
        
      </ion-col>
      </ion-row>
      <!--app-picking-list *ngIf="pickings" [code]="current_code" [filter]="filter" [picks]="pickings"></app-picking-list-->

      <ion-row *ngFor="let pick of pickings; let even = even; let odd =  odd" (click)="OpenLink(pick.id)" [ngClass]="{'row-odd': odd, 'row-even': even}" style="min-height: 30px">
        <ion-col class="ion-align-self-center">
          <span class="product-link ">{{pick.apk_name}}</span>
        </ion-col>
        <ion-col class="ion-align-self-center ion-text-center" size="1">
            <span>{{pick.move_line_count}}</span>
        </ion-col>
        <ion-col class="ion-align-self-center ion-text-left" *ngIf="pick.default_location.value === 'location_id'">
          <div>{{pick.location_id.name}}</div>
        </ion-col>
        <ion-col class="ion-align-self-center  ion-text-left" *ngIf="pick.default_location.value === 'location_dest_id'">
          <div>{{pick.location_dest_id.name}}</div>
        </ion-col>
         
        <ion-col size="3
        " class="ion-align-self-center ion-text-center">
        {{pick.scheduled_date}}
        <!--/ion-col>
        <ion-col  class="ion-align-self-center"-->
        <ion-icon  size="normal" class="{{'state_'+ pick.pick_state.value}} " name="{{StateIcon[pick.pick_state.value]}}"></ion-icon>
        </ion-col>
      </ion-row>

      <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content
          loadingSpinner="bubbles"
          loadingText="Cargando más productos...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-card-content>
  </ion-card>
</ion-content>