<ion-grid>

  <ion-row>
    <ion-col size="4">
        <div><strong>Nombre</strong></div>
    </ion-col>
    
    <ion-col size="2" *ngIf="code != 'incoming'">
        <div><strong>Origen</strong></div>
    </ion-col>

    <ion-col size="2" *ngIf="code != 'outgoing'">
      <div><strong>Destino</strong></div>
    </ion-col>
    
    <ion-col size="2">
      <div><strong>Previsto</strong></div>
    </ion-col>
    <ion-col size="2">
      <div><strong>Estado</strong></div>
    </ion-col>
  </ion-row>

  <ion-row *ngFor="let pick of picks" (click)="open_link(pick.id, code)">
    <ion-col size-xs="12" size-sm="4" size-md="4">
      <div>{{pick.name}}</div>
    </ion-col>
    
    <ion-col size-xs="6" size-sm="2" size-md="2" *ngIf="code != 'incoming'">
      <div><strong class="ion-hide-sm-up">Origen: </strong>{{pick.location_id[1]}}</div>
    </ion-col>
  
    <ion-col size-xs="6" size-sm="2" size-md="2"  *ngIf="code != 'outgoing'">
      <div><strong class="ion-hide-sm-up">Destino: </strong>{{pick.location_dest_id[1]}}</div>
    </ion-col>
    
    <ion-col size-xs="6" size-sm="2" size-md="2">
      <div><strong class="ion-hide-sm-up">Previsto: </strong>{{pick.scheduled_date}}h</div>
    </ion-col>
  
    <ion-col size-xs="6" size-sm="2" size-md="2" [ngClass]="{'success': pick.state == 'done',
    'danger': pick.state == 'cancel', 
    'primary': pick.state == 'assigned', 
    'secondary': pick.state == 'confirmed', 
    'tertiary': pick.state == 'waiting', 
    'medium': pick.state == 'draft'}" [ngSwitch]="pick.state">
      <div *ngSwitchCase="'draft'"><strong class="ion-hide-sm-up">Estado: </strong>Borrador</div>
      <div *ngSwitchCase="'waiting'"><strong class="ion-hide-sm-up">Estado: </strong>Faltan operaciones</div>
      <div *ngSwitchCase="'confirmed'"><strong class="ion-hide-sm-up">Estado: </strong>En espera</div>
      <div *ngSwitchCase="'assigned'"><strong class="ion-hide-sm-up">Estado: </strong>Preparado</div>
      <div *ngSwitchCase="'done'"><strong class="ion-hide-sm-up">Estado: </strong>Hecho</div>
      <div *ngSwitchCase="'cancel'"><strong class="ion-hide-sm-up">Estado: </strong>Cancel</div>
    </ion-col>
  </ion-row>
</ion-grid>