<ion-grid *ngIf="moves" style="padding: 0px">
  <ion-row>
    <ion-col size="8" >
      <div style="font-size: small"><strong></strong></div>
    </ion-col>  
    <ion-col size="2" >
      <div style="font-size: small"><strong>Cant</strong></div>
    </ion-col>
    <ion-col size="2" >
      <div style="font-size: small"><strong>Hecho</strong></div>
    </ion-col>
  </ion-row>

  <div *ngFor="let line of moves; index as i; let even = even; let odd =  odd" [ngClass]="{'row-odd': odd, 'row-even': even}">
    <ion-row style="align-items: center">
      <ion-col size=9>
        <ion-row  style="padding: 0px">
    <!-- [ngClass]="{'success': line.quantity_done == line.product_uom_qty}">-->
           <ion-col size="11" (click)="open_link(line.id)"> <ion-icon  size="normal" name="{{TrackingIcon[line.tracking.value]}}">
            </ion-icon>
            <span class="product-link"
            style="font-size: small; "> {{line.product_id['name']}}</span>
          </ion-col>  
          <!--ion-col size="2" *ngIf="line['reserved_availability'] != null">
          {{line.state.value}}
            <span style="font-size: small">R. {{line.reserved_availability}} de {{line.product_uom_qty}}</span>
          </ion-col-->
          <!--ion-col size="1" *ngIf="line['quantity_done'] != null">
            <span style="font-size: small">{{line.quantity_done}}</span>
          </ion-col-->
          <ion-col *ngIf="line['quantity_done'] != null" class="state_icon" style="text-align: right">
            <ion-icon  size="normal" style="vertical-align: bottom" class="{{'state_'+ line.state.value}} " name="{{StateIcon[line.state['value']]}}">
          </ion-icon>
          </ion-col>
        </ion-row>
        <!--div *ngIf="line['move_line_ids']">
          <div *ngFor="let sml of line['move_line_ids']" >
            <ion-row 
                (click)="force_set_qty_done(sml.id, 'product_uom_qty', 'stock.move')">
                
                <ion-col size="8" style="font-size: small; text-align: end">
                  <span *ngIf="sml.location_id != line.location_id" class="product-link"> {{sml.location_id.name || " >"}}</span> 
                  <span *ngIf="sml.location_dest_id != line.location_dest_id" class="product-link"> {{"> " || sml.location_dest_id.name}}</span> 
                  <span *ngIf="sml.qty_done || sml.product_uom_qty"> {{sml.qty_done || sml.product_uom_qty}} </span>
                </ion-col>
                <ion-col size="2">
                  <ion-badge style="vertical-align: bottom; margin-left: 3px" 
                  *ngIf="line.tracking.value != 'serial' && (sml.lot_id || sml.lot_name) ">
                      {{sml.lot_id.name || sml.lot_name}}: {{sml.product_uom_qty}}
                  </ion-badge>
                </ion-col>
            </ion-row>
          </div>
        </div--> 
      </ion-col>
      <ion-col size=3 class="min80" *ngIf="line.state.value == 'done'">
      <ion-button         
                      size="small"
                      class="min80"
                      (click)="line.set_as_qty_done()">
                      <span> {{line.quantity_done}} </span>
                      <ion-icon slot="end" name="checkmark-done-circle-outline"></ion-icon>
                      <span style="padding-left: 8px" slot="end">{{line.product_uom_qty}}</span>
                      </ion-button>
      </ion-col>
      <ion-col size=3 class="min80" style="text-align: right" *ngIf="line.state.value!='done'">
        <ion-button         
                  *ngIf="line.quantity_done == 0 && ['assigned', 'partially_available'].indexOf(line.state.value) != -1" 
                      size="small"
                      class="min80 {{'move_state_'+ line.field_status}} "
                      (click)="line.set_as_qty_done()">
                      <span> {{line.quantity_done}} </span>
                      <ion-icon slot="end" name="cart-outline"></ion-icon>
                      <span style="padding-left: 8px" slot="end">{{line.product_uom_qty}}</span>
                      </ion-button>
        <ion-button         
                  *ngIf="line.quantity_done == 0 && ['confirmed'].indexOf(line.state.value) != -1" 
                      size="small"
                      class="min80 {{'move_state_'+ line.field_status}}"
                      (click)="line.set_as_qty_done()">
                      <span> {{line.quantity_done}} </span>
                      <ion-icon slot="end" name="trash-bin-outline"></ion-icon>
                      <span style="padding-left: 8px" slot="end">{{line.product_uom_qty}}</span>
                      </ion-button>
        <ion-button         
                  *ngIf="line.quantity_done != 0 && ['assigned', 'partially_available'].indexOf(line.state.value) != -1" 
                      size="small"
                      class="min80 {{'move_state_'+ line.field_status}}"
                      (click)="line.set_as_qty_done()">
                      <span> {{line.quantity_done}} </span>
                      <ion-icon slot="end" name="checkmark-circle-outline"></ion-icon>
                      <span style="padding-left: 8px" slot="end">{{line.product_uom_qty}}</span>
                      </ion-button>
        <ion-button         
                  *ngIf="['done'].indexOf(line.state.value) != -1" 
                      size="small"
                      class="min80 {{'move_state_'+ line.field_status}}">
                      <span> {{line.quantity_done}} </span>
                      <ion-icon slot="end" name="checkmark-done-circle-outline"></ion-icon>
                      <span style="padding-left: 8px" slot="end">{{line.product_uom_qty}}</span>
                      </ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-grid>