<ion-header>
  <ion-toolbar class="cmnt-front">
    <ion-buttons slot="start">
      <ion-menu-button class="cmnt-front"></ion-menu-button>
    </ion-buttons>
    <app-scanner-header  class="cmnt-back" slot="end"></app-scanner-header>
    <ion-title  class="cmnt-button" *ngIf="data" style="padding-inline-end: 2px; padding-inline-start: 2px;">
      {{data['picking_id'].name}}
    </ion-title>

          
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="data">
  <ion-card >

    <ion-card-header>
     <ion-row>
         <ion-col>
          <ion-badge (click)="GetRelativeMoveInfo(data['id'], -1)" style="margin-right: 15px"> Anterior </ion-badge> 
        </ion-col>
        
        <!-- <ion-col *ngIf="data['ready_to_validate']" class="link" (click)="ButtonValidate(data['picking_id'].id)">Validar
        </ion-col> -->
        <ion-col class="ion-text-right">
          <span *ngIf="data && data['active_location_id']">{{data['active_location_id'].old_name}}</span>
        </ion-col>
        <ion-col class="ion-text-right">
          <ion-badge (click)="GetRelativeMoveInfo(data['id'], +1)" style="margin-right: 0px"> Siguiente </ion-badge> 
        </ion-col>
      </ion-row>
      <ion-card-title class="ion-text-center">{{data['product_id'].name}}</ion-card-title>
      <ion-card-title class="ion-text-right"> 
      </ion-card-title>
    </ion-card-header>
  
    <ion-card-content class="ion-text-center">
      <!--div class="product_img" class="ion-text-center" *ngIf="data.image">
        <ion-img *ngIf="data.base64" src="data:image/jpeg;base64,{{ data['picking_id'].image}}" ></ion-img>
        <ion-img *ngIf="!data.base64" src="{{ data['picking_id'].image }}"></ion-img>
      </div-->
      <!--div><strong>{{data['sale_id'] && (data['sale_id']['name'] + ": ")}}</strong>{{data['picking_id']['id'] && data['picking_id']['apk_name']}}</div-->
      <!--div><strong>{{data['location_id'].name}} >> {{data['location_dest_id'].name}}</strong></div-->
      <!-- <div [ngSwitch]="data['tracking']">
        <strong *ngSwitchCase="'none'">Sin tracking</strong>
        <strong *ngSwitchCase="'lot'">Por lotes</strong>
        <strong *ngSwitchCase="'serial'">Por serie</strong>
      </div> -->
      <ion-row> 
        <ion-col size="6"class="ion-text-left"><strong>{{data['product_id'].default_code || data['picking_id'].barcode}}</strong></ion-col>
        <!--ion-col size="2"class="ion-text-right"><strong>Cant: </strong></ion-col-->
        <ion-col size="6"class="ion-text-right"><ion-badge class="primary" style="vertical-align: bottom">  {{data['quantity_done']}} de {{data['reserved_availability']}} {{data['product_uom'].name}} </ion-badge></ion-col>
      </ion-row>
      <ion-row *ngIf="data['state'].value != 'cancel' && data['state'].value != 'done' && data['move_line_ids'].length == 1 && data['tracking'].value == 'none'">
      </ion-row>
      <ion-row *ngIf="data['state'].value != 'done'">
        <!--BOTON VOLVER-->
        <ion-col size="2" style="align-self: flex-end">
          <ion-icon class="primary" (click)="go_back()" size='large' name="arrow-undo-circle-outline" ></ion-icon>
        </ion-col>
        <!--BOTON MOSTRASR LINEAS/LOTES-->
        <ion-col size="2" style="align-self: flex-end">
          <ion-icon  size='large' *ngIf="data['tracking']['value'] !== 'none' && ShowLots" (click)= "AlternateShowLots()" class="primary" name="list-outline" ></ion-icon>
          <ion-icon  size='large' *ngIf="data['tracking']['value'] !== 'none' && ShowMoves"(click)= "AlternateShowLots()" class="primary" name="barcode-outline" ></ion-icon>
        </ion-col>
        <!--BOTON VOLVER BORRAR LOTES ????-->
        <!--ion-col size="2" style="align-self: flex-end">
          <ion-icon *ngIf="data.move_line_count ==1 && data['tracking'].value == 'none'" class="primary" name="remove-circle-outline" (click)="GetMoveInfo(data['id'], -1)"></ion-icon>
        </ion-col-->
        <!--BOTON VALIDAR-->
        <!--ion-col>
          <ion-button *ngIf="['partially_available', 'assigned'].indexOf(data['state'].value) != -1" (click)="DoMoveValidate()">
            <ion-icon class="primary {{'state_'+ data['state'].value}}" name="checkmark-done-circle-outline" ></ion-icon>
          </ion-button>
        </ion-col-->
        <!--BOTON SIGUIENTE-->
        <!--ion-col *ngIf="data.move_line_count ==1 && data['tracking'].value == 'none'" size="2" style="align-self: flex-end">
          <ion-icon class="primary" name="add-circle-outline" (click)="GetMoveInfo(data['id'], +1)"></ion-icon>
        </ion-col-->
        <ion-col  size="2" style="align-self: flex-end">
          <ion-icon autofocus size="large" class="{{'state_'+ data['state'].value}}"  name="{{StateIcon[data['state'].value]}}"></ion-icon>
        </ion-col>
        <ion-col  size="2" [ngClass]="{'draft': offset <= MaxSmlCount }"  style="align-self: flex-end">
          <ion-icon *ngIf="ShowNavs" size="large" name="arrow-back-circle-outline"(click) = 'MoveSml(false)'></ion-icon>
        </ion-col>
        <ion-col  size="2" [ngClass]="{'draft': LimitReached }" style="align-self: flex-end">
          <ion-icon *ngIf="ShowNavs" size="large" name="arrow-forward-circle-outline"(click) = 'MoveSml(true)'></ion-icon>
        </ion-col>
        <!--BOTON OPCIONES-->
        <ion-col size="2" style="align-self: flex-end"><ion-icon class="primary" (click)="PresentMenuOptions()" size="large" name="ellipsis-vertical-outline" ></ion-icon></ion-col>

      </ion-row>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="false">
    <ion-card-header>
      <ion-card-title class="ion-text-center">Opciones avanzadas: {{AdvanceOptions}}</ion-card-title>
      <ion-card-content>
        <ion-row>
          <ion-col>
          <span class='product-link'> Progreso: </span>{{'Preparado' || 'No preparado'}} 
          </ion-col>
          <ion-col>
          <span class='product-link'> Estado: </span>{{data['state'].name}} 
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
          <span class='product-link'> O: </span>{{data['location_id'].name}}-{{data['show_location_id']}}-{{data['done_location_id']}}
          </ion-col>
          <ion-col>
          <span class='product-link'> D: </span>{{data['location_dest_id'].name}}-{{data['show_location_dest_id']}}-{{data['done_location_dest_id']}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
          <span class='product-link'> ShowLots: </span>{{ShowLots}} 
          </ion-col>
          <ion-col>
          <span class='product-link'> ShowMoves: </span>{{ShowMoves}} 
          </ion-col>
        </ion-row>
         <ion-row>
          <ion-col>
          <span class='product-link'> Limit reached: </span>{{LimitReached}} 
          </ion-col>
          <ion-col>
          <span class='product-link'> Offset: </span>{{offset}} 
          </ion-col>
        </ion-row>
        
      </ion-card-content>
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <!--ion-col class="action-button">
          <ion-button (click)= "AlternateShowLots()"><ion-icon class="primary" name="eye-outline" ></ion-icon></ion-button>
        </ion-col-->
        <!--BOTON VOLVER-->
        <ion-col class="action-button">
          <ion-button *ngIf="data['state'].value=='done'"><ion-icon class="secondary" name="checkmark-done-circle-outline" ></ion-icon></ion-button>
        </ion-col>
        <!--BOTON ACTION_ASSING>

        <ion-col class="action-button" *ngIf="['partially_available', 'confirmed'].indexOf(data['state'].value) != -1">
          <ion-button (click)="ActionAssign(data['id'])"><ion-icon class="primary" name="checkmark-outline"></ion-icon></ion-button>
        </ion-col>
        <BOTON DO_UNRESERVE>
        <ion-col *ngIf="['partially_available', 'assigned', 'confirmed'].indexOf(data['state'].value) != -1" class="action-button">
          <ion-button (click)="ActionUnReserve(data['id'])"><ion-icon class="primary" name="trash-outline" ></ion-icon></ion-button>
        </ion-col-->

        <ion-col *ngIf="false && 'done' != data['state'].value && data['tracking'].value != 'none'" class="action-button">
          <ion-button ><ion-icon class="primary" name="flash-off-outline" ></ion-icon>
          </ion-button>
        </ion-col>
        <!--BOTON BORRA LOS LOTES, PERO NO LOS MOVIMIENTOS>
        <ion-col (click)="CleanLots(data['id'])" *ngIf="data['tracking'].value != 'none' && 'done' != data['state'].value" class="action-button">
          <ion-button ><ion-icon class="primary" name="reload-circle-outline"></ion-icon></ion-button>
        </ion-col>
        <BOTON NUEVA LINEA>
        <ion-col (click)="CreateNewSmlId(data['id'])" *ngIf="data['tracking'].value != 'serial' && ['draft', 'done'].indexOf(data['state'].value) != 0" class="action-button">
          <ion-button ><ion-icon class="primary" name="duplicate-outline"></ion-icon></ion-button>
        </ion-col-->

      </ion-row>
    </ion-card-content>
  </ion-card>
  <div *ngIf="data && ShowLots">
  
      <ion-item>
        <ion-label>Nº Serie: Faltan <strong>{{PendingQty}}  </strong></ion-label>
        <ion-button class="primary" slot="end" 
          (click) = "OpenBarcodeMultiline(data['product_id']['id'], data['product_id']['default_code'], data['active_location_id']['name'])">
            <ion-icon  name="menu-outline" ></ion-icon>
         </ion-button>
          
      </ion-item>
    <ion-card >
      <ion-card-content>
        <ion-row>
            <ion-col size="12" *ngFor="let lot of LotNames; let NameIndex = index; ">
              <ion-row>
                <ion-col size="10" class="ion-text-center" >
                  <span class="product-link" style="font-size: large"><strong>{{lot}}</strong></span>
                </ion-col>
                <ion-col size="2" class="ion-text-center" >
                  <ion-icon (click) = "DeleteLotName(NameIndex)" 
                  *ngIf="!NewLotNames[NameIndex]" size="small" color = "danger" 
                  style="vertical-align: bottom state_icon" name="trash-outline"></ion-icon>
                </ion-col>
              </ion-row>
              <!--ion-icon  size="small" style="vertical-align: bottom state_icon" class="{{'state_'+ sml['state'].value}}" name="{{StateIcon[sml['state'].value]}}"></ion-icon-->
            </ion-col>
           </ion-row>
      </ion-card-content>
    </ion-card>
  </div>
  <div *ngIf="data && ShowMoves">
    <ion-card *ngFor="let sml of data['move_line_ids']">
      <ion-card-content class="sml_not_done">
        <ion-row [ngClass]="{'success': sml['state'].value=='done'}"> 
            <!-- BORRAR LINEA -->
            <ion-col size="1" class="ion-text-right state_icon" *ngIf="AdvanceOptions && data['state'].value != 'done'">
              <ion-icon (click) = "RemoveMoveLineId(sml['id'])" size="small" color = "danger" style="vertical-align: bottom state_icon" name="trash-outline"></ion-icon>
            </ion-col>
            <ion-col size="1" class="ion-text-right state_icon" *ngIf="false && AdvanceOptions">
            </ion-col>
            <!-- ORIGEN --> 
            <ion-col 
            (click) ="ChangeLineLocationId(sml)"
              *ngIf="data['show_location_id']"
              [ngClass]="{'sml_done': data['done_location_id'] }"
              size-xs="3" size-sm="2" size-md="2">
              <div>{{sml['location_id'].name}} </div>
              <div *ngIf="ShowPackage">{{sml['package_id'] && sml['package_id'].name}} </div>
            </ion-col>
            <!-- DESTINO-->
            <ion-col 
              (click) ="ChangeLineLocationId(sml)" 
              *ngIf="data['show_location_dest_id']"
              [ngClass]="{'sml_done': data['done_location_dest_id']}" size-xs="3" size-sm="2" size-md="2">
              <div>{{sml['location_dest_id']['name']}}</div>
              <div *ngIf="ShowPackageDest">{{sml['result_package_id'] && sml['result_package_id'].name}}</div>
            </ion-col>

            <!-- LOTE -->
            <ion-col  style="text-align: center"
             *ngIf="data['tracking'].value != 'none'" 
              [ngClass]="{'sml_done': sml['lot_id']}"
              size-xs="4" size-sm="4" size-md="4">
              {{sml['lot_id'] && sml['lot_id'].name || 'Lote' }}
            </ion-col>
            <ion-col style="text-align: center"
             *ngIf="data['tracking'].value == 'none'"
              size-xs="4" size-sm="4" size-md="4">
            </ion-col>

            <ion-col  size-xs="5" size-sm="5" size-md="5" *ngIf="data['tracking'].value === 'serial' && sml['lot_id']" class="ion-text-right" style="padding: 0px">
                <ion-icon (click) = "DeleteMoveLine(sml['id'])" 
                  size="small" color = "danger" 
                  style="vertical-align: bottom state_icon" name="trash-outline"></ion-icon>
            </ion-col>
            <!--CANTIDAD -->
            <ion-col  size-xs="5" size-sm="5" size-md="5" *ngIf="data['tracking'].value != 'serial'" class="ion-text-center" style="padding: 0px">
                <ion-badge *ngIf="sml['qty_done'] > 0" class="link" (click)="ChangeQty(sml, -1)" style="padding: 3px; margin-right: 10px"> <ion-icon class="primary" name="remove-circle-outline"></ion-icon> </ion-badge>
                <ion-badge [ngClass]="{'back_state_draft': QtyDirty === true}" (click)="InputQty('Cantidad', sml)" > {{sml['qty_done']}} de  {{sml['product_uom_qty']}}</ion-badge>
                <ion-badge *ngIf="sml['qty_done'] < sml['product_uom_qty']" class="link" (click)="ChangeQty(sml, +1)" style="padding: 3px; margin-left: 10px"> <ion-icon class="primary" name="add-circle-outline"></ion-icon> </ion-badge>
            </ion-col>
            <!--BOTONES-->
          </ion-row>          
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<app-scanner-footer (ScannerReadingChanged)="onReadingEmitted($event)" [ScannerReading]="ScannerReading"></app-scanner-footer>