<ion-card *ngIf="product">

    <ion-card-header>
      <ion-card-title>{{product.name}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <div class="product_img">
        <ion-img *ngIf="product.base64" src="data:image/jpeg;base64,{{ product['image_medium'] }}"></ion-img>
        <ion-img *ngIf="!product.base64" src="{{ product['image_medium'] }}"></ion-img>
        <ion-label>{{product.description_short}}</ion-label>
      </div>
      <div><strong>Categoría: </strong>{{product.categ_id[1]}}</div>
      <div><strong>Referencia: </strong>{{product.default_code}}</div>
      <div><strong>Codigo de barras: </strong>{{product.barcode}}</div>
      <div><strong>Precio de venta: </strong>{{product.list_price}}€</div>
      <div><strong>Precio de compra: </strong>{{product.standard_price}}€</div>
      <div [ngClass]="{'danger': product.qty_available &lt;= 0}"><strong>A mano: </strong>{{product.qty_available}}</div>
      <div [ngClass]="{'danger': product.qty_available &lt;= 0}"><strong>Previsto: </strong>{{product.virtual_available}}</div>
    </ion-card-content>
  
  </ion-card>