<ion-header>
    <ion-toolbar class="cmnt-front">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Albaranes</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-card>
      <ion-row *ngIf="TypeMenu">
        
        <ion-col col=2 class="ion-align-self-center ion-text-center" 
          (click)="GetPickingTypes('all' , null)">
            <ion-icon class="icon" name="book"></ion-icon>
          
        </ion-col>  
        <!--ion-col size=10> 
          <ion-row>
            <ion-col class="ion-text-center product-link" size=4 
                [ngClass]="{'selected': Code == menu1.barcode}" 
                *ngFor="let menu1 of TypeMenu; index as i" 
                (click)="GetPickingTypes(menu1.name, null)">
                {{menu1.name}}
            </ion-col>
          </ion-row>
        </ion-col-->
      </ion-row>

      <ion-row>
        <ion-toolbar>
          <ion-searchbar type="text" [ngModel]="search" (ionInput)="get_search_results($event)" autocomplete="on" showCancelButton="always"></ion-searchbar>
        </ion-toolbar>
      </ion-row>
    </ion-card>
    
    <ion-card>
            <ion-row *ngFor="let picking_type of picking_types">
              <ion-col size-xs="12" size-sm="6" size-lg="4">
                <ion-button size="small" class="button-text cmnt-front" style="width: 100%" 
                  (click)="OpenTypeId(picking_type.barcode, picking_type.id, 'count_picking_ready')">
                  {{picking_type.barcode}}: 
                  {{picking_type.count_picking_batch_ready}} de 
                  {{picking_type.count_picking_ready}} preparados
                </ion-button>
              </ion-col>
              <!--ion-col size-xs="3" size-sm="2" size-lg="1">
                <div class="link" (click)="OpenTypeId(picking_type.barcode, picking_type.id, 'count_picking_waiting')">
                  {{picking_type.count_picking_waiting}} En espera
                </div>
              </ion-col-->
            </ion-row>
    </ion-card>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Cargando más productos...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-content>
  