<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <app-scanner-header slot="end"></app-scanner-header>
    <ion-title>Nuevo movimiento de stock</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-row>
        <ion-col [ngClass]="{'link': location_move_id}" (click)="select_location('origin')">
          <strong>Origen: </strong> <span *ngIf="location_id; else noLocationSelected">{{ location_id['name'] }}</span>
        </ion-col>
        <ion-col>
          <ion-button size="small" *ngIf="location_move_id && move_lines_info.length > 0" class="button-text" (click)="action_move_location()">Enviar</ion-button>
          <ion-button size="small" *ngIf="location_move_id && move_lines_info.length > 0" class="button-text" (click)="force_set_reserved_qties()">Disponible</ion-button>
          <ion-button size="small" *ngIf="location_move_id && move_lines_info.length > 0" class="button-text" (click)="force_reset_qties()">Reset</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col [ngClass]="{'link': location_move_id}" (click)="select_location('destination')">
          <strong>Destino: </strong> <span *ngIf="location_id; else noLocationSelected">{{ location_dest_id['name'] }}</span>
        </ion-col>
      </ion-row>
    </ion-card-content>
    <ng-template #noLocationSelected>
      <span>Sin seleccionar</span>
    </ng-template>
  </ion-card>

  <ion-card *ngIf="notification">
      <ion-card-content>
        <ion-row>
          {{ notification }}
        </ion-row>
      </ion-card-content>
    </ion-card>

  <ion-card>
    <ion-card-content>
        <ion-row>  
          <ion-col>
            <div><strong>Producto</strong></div>
          </ion-col>
          <ion-col>
            <div><strong>Origen</strong></div>
          </ion-col>
        
          <ion-col>
            <div><strong>Destino</strong></div>
          </ion-col>
          
          <ion-col>
            <div><strong>Cantidad.</strong></div>
          </ion-col>
        
          <ion-col>
            <div><strong>Disponible</strong></div>
          </ion-col>
        </ion-row>
        <ion-row *ngFor="let line of move_lines_info">
          <ion-col>
            <div class="link" (click)="open_link(line['product_id']['id'])">{{line['product_id']['name']}}</div>
          </ion-col>
        
          <ion-col>
            <div>{{line.origin_location_id['name']}}</div>
          </ion-col>
        
          <ion-col>
            <div>{{line.destination_location_id['name']}}</div>
          </ion-col>
          
          <ion-col>
            <div class="link" (click)="edit_qty(line['id'])">{{line.move_quantity}}</div>
          </ion-col>
        
          <ion-col>
            <div class="link" (click)="change_qty(line['id'], line.max_quantity)">{{line.max_quantity}}</div>
          </ion-col>
        </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>

<app-scanner-footer (ScannerReadingChanged)="onReadingEmitted($event)" [ScannerReading]="ScannerReading"></app-scanner-footer>