<ion-footer>
  <form [formGroup]="ScanReader" class ="alignBottom" *ngIf="scanner.ActiveScanner">
    <ion-item>
      <ion-label item-start>Scan: </ion-label>
      <ion-input #scan type="text" formControlName="scan" ></ion-input>
    
      <button ion-button icon-only item-end clear (click)="submitScan()">
        <ion-icon name="barcode"></ion-icon>
      </button>
      <!--button ion-button icon-only item-end clear (click)="resetScan()">
        <ion-icon name="flash-off-outline"></ion-icon>
      </button-->
    </ion-item>   
  </form>
</ion-footer>